@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400&display=swap");

.checkoutProduct {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding: 1rem;
  background-color: white;
  margin-bottom: 1rem;
  margin-right: 1rem;
  margin-left: 2rem;
}

.checkoutProduct > img {
  max-height: 300px;
  object-fit: contain;
  margin-bottom: 0.5rem;
}

.checkoutProduct__button {
  display: flex;
  flex-direction: column;
}

.checkoutProduct__button--buy {
  color: #c0392b;
  padding: 0.4rem;
  border-radius: 0.5rem;
  font-family: "Noto Sans TC", sans-serif;
  margin-top: 0.8rem;
  background-color: #1c2833;
  margin-bottom: 0.4rem;
  font-size: 1.2rem;
  outline: none;
  border: none;
  width: 100%;
}

.checkoutProduct__button--remove {
  color: #1c2833;
  padding: 0.4rem;
  border-radius: 0.5rem;
  font-family: "Noto Sans TC", sans-serif;
  margin-bottom: 0.4rem;
  background-color: #c0392b;
  font-size: 1.2rem;
  outline: none;
  border: none;
}
