.checkout {
  max-width: 1500px;
  margin: auto;
}

.checkout__title {
  text-align: center;
  padding-bottom: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid lightgray;
}

.checkout__product {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.checkout__left {
  width: 100%;
}

.checkout__right {
  position: fixed;
  right: 13%;
  top: 10rem;
}
