.login {
  margin-top: 15rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__container {
  width: 300px;
  background-color: white;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.login__container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
}

.login__container > form > h5 {
  margin-bottom: 5px;
}

.login__container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 98%;
}

.login__container > p {
  margin-top: 15px;
  font-size: 12px;
}

.login__signInButton {
  color: #c0392b;
  padding: 0.4rem;
  width: 100%;
  height: 30px;
  background-color: #1c2833;
  font-size: 1rem;
  border: none;
  border-radius: 0.2rem;
  margin-top: 0.3rem;
  margin-bottom: 0.2rem;
}

.login__registerButton {
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: darkgray;
  font-size: 0.9rem;
}
