.subtotal {
  padding: 2rem;
  background-color: white;
  border: 1px solid #1c2833;
}

.subtotal__btn {
  margin-top: 1rem;
  color: #1c2833;
  border: 1px solid #1c2833;
  padding: 0.5rem;
  border-radius: 0.2rem;
  font-size: 0.8rem;
  font-weight: bold;
}
